element.style {
  margin-top: 20px;
}
.sidenav-container {
  background-color: transparent !important;
}
.sidenav-container.mat-drawer-opened {
  flex: 1;
  top: 62px;
  width: 250px;
  height: calc(100% - 62px);
  position: absolute;
}

.sidenav-container a.mat-list-item{
  color: #757575 !important;
  font-weight: 500;
}
.sidenav-container a.mat-list-item:hover{
  color: #1976d2 !important;
  font-weight: 500;
}
.mat-drawer-backdrop.mat-drawer-shown  {
  background-color: transparent !important;
}

.sidenav-container .mat-drawer
{
  width: 250px;
  height: auto;
  position: fixed;
  bottom: 0;
  top: 86px !important;
  box-shadow: none !important;
  border-right: 1px solid rgba(0,0,0,0.1) !important;
  outline: 0;
}
.sidenav-container .mat-drawer > div,
.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.user-panel {
  padding: 10px 20px 15px;
  background: #fbfbfb;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-top: 1px solid rgba(0,0,0,0.1);
  color: #bbb;
  margin-top: auto;
}
.mat-icon.small {
  width: auto;
  height: auto;
  margin-right: 8px;
  font-size: 1em;
}
