<div class="toolbar" role="banner">
  <div class="container-fluid">
    <mat-toolbar color="primary" class="mat-toolbar title-panel">
      <!-- <img width="40" routerLink="/" alt="Angular Logo" src="assets\images\logo2.jpg" /> -->
      <span  routerLink="/">  <P style="text-align: centre;">Welcome to ADMP,  The NextGen Integration Layer</P> </span>
    </mat-toolbar>
    <div class="user-panel">
        <mat-icon class="user-icon" aria-hidden="false">account_box</mat-icon>
        <span style="font-weight: 500;">{{userInfo.username | titlecase }}</span>
        <br/>
        <span style="font-weight: 500;    margin-left: 8px;">ROLE: {{userInfo.roleName | titlecase }}</span>
    </div>
    <img width="250px" style = "float:right" routerLink="/" alt="Angular Logo" src="assets\images\admp-LOGO.png" />
  </div>
</div>


<div>
  <mat-sidenav-container style = "margin-top: 20px;" class="sidenav-container" *ngIf="isUserLoggedIn && isMenuHidden === undefined ">
    <mat-sidenav #snavMenu opened="true">
      <mat-nav-list>
          <mat-list-item *ngxPermissionsOnly="['ANALYST']">
            <a mat-list-item routerLink="/create" >Create New Transactions</a>
          </mat-list-item>
         
          <mat-list-item *ngxPermissionsOnly="['ANALYST']">
            <a mat-list-item routerLink="/submit" >Submit Transactions</a>
          </mat-list-item>
          <mat-list-item *ngxPermissionsOnly="['ANALYST']">
            <a mat-list-item routerLink="/viewalltransaction" >View Transactions</a>
          </mat-list-item>
          <mat-list-item *ngxPermissionsOnly="['REVIEWER']">
            <a mat-list-item routerLink="/pending" >Review Transactions</a>
          </mat-list-item>
          <mat-list-item *ngxPermissionsOnly="['REVIEWER']">
            <a mat-list-item routerLink="/view" >View Transactions</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item (click)="logout()" >Logout</a>
          </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>